<HTML>

<head>
<!--    <script type="text/javascript" src="script/jquery-1.6.2.min.js"></script>-->
<!--    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

    <script type='text/javascript'>
        function selectFile() {
            //触发 文件选择的click事件
            $("#file").trigger("click");

            //其他code如 alert($("#file").attr("value"))
        }

        /* 获取 文件的路径 ，用于测试*/
        function getFilePath() {
            alert($("#file").attr("value"));
        }
    </script>
</head>

<body>
    <!-- 给这个input 设置样式隐藏，切忌不可用display控制隐藏,可能不能跨浏览器 -->
    <input type="file" id="file" multiple="multiple" οnchange="getFilePath()" />
    <button οnclick="selectFile();">select file</button>
    <button οnclick="getFilePath()">get FilePath</button>
</body>

</html>
